table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1.5px solid black;
    text-align: center;
    padding: 8px;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #ccc;
}


